body {
  overflow: hidden;
}

section.home-image {
  display: none;
}

@media (min-width: 1785px) {
  section.home-image {
    display: flex;
    flex-wrap: wrap;
    width: 80rem;
    gap: 3rem;
    position: absolute;
    top: 55.5%;
    left: 85%;
    transform: translate(-50%, -50%);
  }

  section.home-image > img {
    width: 15rem;
    cursor: pointer;
  }

  section.home-image > img:nth-child(5) {
    margin-left: 7.5%;
  }
}
