* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 2;
  position: relative;
  background: transparent;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.people {
  width: 1.8rem;
}

.user-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;

  background-color: #3a3053;
  color: rgb(243, 236, 236);

  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.user-buttons:hover {
  box-shadow: 0 0 20px;
}

.sign-up {
  gap: 0.5rem;
}

.login {
  gap: 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-black, #443c68);
  box-shadow: 0px 0px 16.8px 0px var(--thrid-black, #635986);
}

nav.site-navbar {
  padding: 2.4rem 3rem;
}

nav.site-navbar > h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

nav.site-navbar:has(+ main.film),
nav.site-navbar:has(+ main.cast) {
  background: rgba(67, 49, 127, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
