* {
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

section {
  margin: 4rem auto;
}

.UserInfo {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.UserInfo > .icon {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 150px;
}

.UserInfo > .pseudo {
  width: 150px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 25px;
  background: rgba(217, 217, 217, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.UserInfo > .link {
  width: 150px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 25px;
  background: rgba(217, 217, 217, 0.15);
  color: var(--primary-font-color, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.UserInfo > p {
  width: 550px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 25px;
  background: rgba(217, 217, 217, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0.5rem;
}

h1 {
  margin-top: 3rem;
  margin: 0.5rem;
  margin-left: 23%;
}

#topFour {
  flex-direction: row-reverse;
  margin-left: 23%;
  margin-bottom: -4%;
}

.favMovies {
  width: 213px;
  height: 288px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #000;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#LastMovies {
  flex-direction: row-reverse;
  margin-left: 23%;
}

.NewMovies {
  width: 213px;
  height: 288px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #000;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
